<%- include('../views/header', {user: user}); %>

<!-- Basic 404 page -->
<div style="color:white; margin-top: 50px;">
<center><h1>The page you're looking for wasn't found..</h1><br><h5>Try one of the hyperlinks at the top of the page to get where you're trying to go.</h5></center>
</div>

</body>
</html>