<%- include('../views/header', {user: user}); %>
<div style="color: white; text-align: center;">
<h1>Thanks for your message!</h1>
<h4>We will hopefully be in contact soon! <b>You can see my reply in the messages page.</b></h4>
<h3>Click your username in the top right to see the Messages page.</h3>
</div>
</body>
</html>