<html>

<head>
  <title>Practice Your Openings</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/x-icon" href="/img/LightPawn.webp">

  <link rel="stylesheet" href="/css/stylesheet.css">

  <!-- Linking JQuery and ChessboardJS -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/chessboardjs/dist/chessboard-1.0.0.css">
  <link rel="stylesheet" href="/chessboardjs/dist/chessboard-1.0.0.min.css">
  <script src="/chessboardjs/dist/chessboard-1.0.0.js"></script>
  <script src="/chessboardjs/dist/chessboard-1.0.0.min.js"></script>

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>

</head>

<!-- Background Colour for page is dark -->

<body style="background-color: #302e2b;">

  <!-- Navigation Bar -->
  <nav data-bs-theme="dark" class="navbar navbar-expand-lg navbar-dark-custom border-bottom border-body">

    <div class="container-fluid">

      <!-- Logo/Title -->
      <a class="navbar-brand mb-0 h1" href="/"><img src="/img/LightPawn.webp" alt="Logo" width="30" height="30"
          class="d-inline-block align-text-top">Opening Study</a>

      <!-- Bootstrap minimizes navbar into a button when page gets too small -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>

      <!-- Navigation links (left side) -->
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/practice">Practice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/lab">Create/Modify Openings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/contact">Contact Admin</a>
          </li>
          <!-- Insert Admin Pages if users permission level is 100 (Admin) -->
          <% if(user != null) {%>
          <% if(user.permissionLevel == 100) {%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" style="right: 0; left: auto;" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Admin Pages
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="/users">Users</a>
              </li>
            </ul>
          </li>
          <%}%>
              <%}%>

        </ul>

        <!-- If user is not logged in -->
        <% if(user == null) {%>
        <div class="navbar-text">

          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

            <li class="nav-item">
              <a class="nav-link active" href="/login">Login</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="/register">Register</a>
            </li>

          </ul>

        </div>

        <!-- If user is logged in -->
        <% } else {%>

        <div class="navbar-text">

          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

            <!-- Displays username as a drop down menu.
            Will style with colour & tags based on permission level
            Permission level 1 is normal, 2 is Premium (blue with diamond tag)
            Permission level 100 is Admin (red with admin and diamond tag) -->
            <li class="nav-item dropdown">

              <a class="nav-link dropdown-toggle active" style="right: 0; left: auto;" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <%if(user.permissionLevel >= 2) {%><img style="height:13px; margin-right: 4px; margin-top: -2px;"
                  src="/img/premium.png" /><%}%><%if(user.permissionLevel == 100) {%><img
                  style="height:13px; margin-right: 4px; margin-top: -2px;"
                  src="/img/admin.png" /><%}%><span <%if(user.permissionLevel == 2) {%>style="color:
                #2c45ff"<%}%><%if(user.permissionLevel == 100) {%>style="color: red"<%}%>><%= user.username %></span><%if(unread != 0){%><span class="notification"><%=unread%></span><%}%>
              </a>

              <!-- Dropdown options -->
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="/account">Account</a>
                  <a class="dropdown-item" href="/messages">Messages <%if(unread != 0){%><span class="notification"><%=unread%></span><%}%></a>
                  <!-- <a class="dropdown-item" href="/preferences">Preferences</a> -->
                  <!-- Logout functionality not fully implemented, it is a "post method" so need to implement. -->
                  <a class="dropdown-item" id="logout" href="javascript:document.getElementById('logout-form').submit();">Log Out</a>
                </li>
              </ul>

            </li>

          </ul>

        </div>
        <%}%>
          </div>
        </div>
      </nav>

      <form id="logout-form" style="display:none" action="/logout" method="POST"></form>