<%- include('../views/header', {user: user}); %>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5" style="width: 80%;">
                <div class="wrap">
                    <div class="login-wrap p-4 p-md-5" style="background-color: #262422;">
                        <div>
                            <div>
                                <h3 class="white-text">Create New Opening</h3>
                                <h6 class="white-text">Enter a name and then we can start making moves!</h6>
                            </div>
                        </div>
                        <% if(error) {%>

                            <div class="alert alert-danger" role="alert" style="margin-bottom: 30px;">
                                You already have an opening with this name.
                            </div>
                            <%}%>
    <form action="/labnew" method="POST" class="signin-form">
    <textarea placeholder="Enter name" style="height: 30px; width: 400px;" type="text" name="name" class="form-control input-dark" required></textarea>
    <div class="form-group">
    <button type="submit" class="form-control btn btn-primary rounded submit px-3" style="width: 148px; margin-top: 10px;">Create Opening</button>
    </div>
    </form></div>
    </div>
    </div>
    </div></section>


</body>
</html>